<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Other</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active"> Specials </li>
            </ul>
        </div>
    </div>
</div>
<!-- Uren's Breadcrumb Area End Here -->
<!-- Begin Contact Main Page Area -->
<div class="contact-main-page">
   <div  class="productlist">
       <div class="productContainer">
  <div class="card">
 <div class="title">
product1
 </div>
 <div class="image">
 <img src="../../../../assets/dist/img/photo1.png">
 </div>
 <div class="text">
product descriptionproduct description
product descriptionproduct description
product description
product description
 </div>
      <button class="buy">Buy now </button>
 </div> 
<!-- seconde -->
<div class="card">
    <div class="title">
   product1
    </div>
    <div class="image">
    <img src="../../../../assets/dist/img/photo2.png">
    </div>
    <div class="text">
   product descriptionproduct description
   product descriptionproduct description
   product description
   product description
    </div>
         <button class="buy">Buy now </button>
    </div> 
   <!-- third -->

   <div class="card">
    <div class="title">
   product1
    </div>
    <div class="image">
    <img src="../../../../assets/dist/img/photo1.png">
    </div>
    <div class="text">
   product descriptionproduct description
   product descriptionproduct description
   product description
   product description
    </div>
         <button class="buy">Buy now </button>
    </div> 
    <div class="card">
        <div class="title">
       product1
        </div>
        <div class="image">
        <img src="../../../../assets/dist/img/photo1.png">
        </div>
        <div class="text">
       product descriptionproduct description
       product descriptionproduct description
       product description
       product description
        </div>
             <button class="buy">Buy now </button>
        </div> 
  </div>
  

   <!-- forth -->
  
</div>
</div>
 